# 3.1 - Repaso General

### Loops

In [2]:
# iterables , que se puede recorrer

lst_str=['fsdf', 'rewtwr', 'treqtqret', 'hola', 'ryebfuwb', 'tegegeg', 'fwjqfgq']

lst_lst=[
    [1,2,3,4],
    ['a', 'r', '5'],
    [{'hola':'que tal', 'adios':'hasta luego chato'},
    'dentro']
]

dictio={'a':45, 'b':[1, 3, 5, 6], 'c':'hola', 4:{1:'a', 2:'b'}}

string='kwdgfjnowjkgnowergnoweitgno2i45ogin2oinyr'

In [3]:
lst_str

['fsdf', 'rewtwr', 'treqtqret', 'hola', 'ryebfuwb', 'tegegeg', 'fwjqfgq']

In [4]:
lst_lst

[[1, 2, 3, 4],
 ['a', 'r', '5'],
 [{'hola': 'que tal', 'adios': 'hasta luego chato'}, 'dentro']]

In [5]:
dictio

{'a': 45, 'b': [1, 3, 5, 6], 'c': 'hola', 4: {1: 'a', 2: 'b'}}

In [6]:
string

'kwdgfjnowjkgnowergnoweitgno2i45ogin2oinyr'

In [12]:
# bucle, para recorrer un iterable
# bucles for, tienen 3 tipos

# 1er tipo: recorrer por indice

for indice in range(len(lst_str)):  # recorre la lista por indice y printea cada elemento
    print(lst_str[indice])

fsdf
rewtwr
treqtqret
hola
ryebfuwb
tegegeg
fwjqfgq

In [10]:
# doble bucle sobre el indice 

for indice in range(len(lst_str)):              # recorre la lista por indice 
    for letra in range(len(lst_str[indice])):   # recorre la string caracter por caracter por indice
        print(lst_str[indice][letra])

f
s
d
f
r
e
w
t
w
r
t
r
e
q
t
q
r
e
t
h
o
l
a
r
y
e
b
f
u
w
b
t
e
g
e
g
e
g
f
w
j
q
f
g
q

In [13]:
# 2ยบ tipo de bucle, recorrer por elemento

for elemento in lst_str:   # NO recorre por indice, recorre por elemento
    print(elemento)

fsdf
rewtwr
treqtqret
hola
ryebfuwb
tegegeg
fwjqfgq

In [14]:
for elemento in lst_str:   # NO recorre por indice, recorre por elemento
    for letra in elemento:
        print(letra)

f
s
d
f
r
e
w
t
w
r
t
r
e
q
t
q
r
e
t
h
o
l
a
r
y
e
b
f
u
w
b
t
e
g
e
g
e
g
f
w
j
q
f
g
q

In [16]:
# con dos iterables diferentes

for indice in range(3):
    print('Primera lista: ', lst_str[indice], 'Segunda lista: ', lst_lst[indice])

Primera lista:  fsdf Segunda lista:  [1, 2, 3, 4]
Primera lista:  rewtwr Segunda lista:  ['a', 'r', '5']
Primera lista:  treqtqret Segunda lista:  [{'hola': 'que tal', 'adios': 'hasta luego chato'}, 'dentro']

In [19]:
# 3er tipo: las cosas a la vez

for indice,elemento in enumerate(lst_str):
    print('Indice: ', indice, '---- Elemento: ', elemento)

Indice:  0 ---- Elemento:  fsdf
Indice:  1 ---- Elemento:  rewtwr
Indice:  2 ---- Elemento:  treqtqret
Indice:  3 ---- Elemento:  hola
Indice:  4 ---- Elemento:  ryebfuwb
Indice:  5 ---- Elemento:  tegegeg
Indice:  6 ---- Elemento:  fwjqfgq

In [21]:
list(enumerate(lst_str))

[(0, 'fsdf'),
 (1, 'rewtwr'),
 (2, 'treqtqret'),
 (3, 'hola'),
 (4, 'ryebfuwb'),
 (5, 'tegegeg'),
 (6, 'fwjqfgq')]

In [22]:
# con un diccionario

dictio.keys()

dict_keys(['a', 'b', 'c', 4])

In [23]:
dictio.values()

dict_values([45, [1, 3, 5, 6], 'hola', {1: 'a', 2: 'b'}])

In [24]:
dictio.items()

dict_items([('a', 45), ('b', [1, 3, 5, 6]), ('c', 'hola'), (4, {1: 'a', 2: 'b'})])

In [25]:
for elemento in dictio:  # solo las keys
    print(elemento)

a
b
c
4

In [26]:
for elemento in dictio.keys():  # solo las keys
    print(elemento)

a
b
c
4

In [27]:
for elemento in dictio:  # accediendo al valor
    print(dictio[elemento])

45
[1, 3, 5, 6]
hola
{1: 'a', 2: 'b'}

In [28]:
for elemento in dictio.values():  # solo las keys
    print(elemento)

45
[1, 3, 5, 6]
hola
{1: 'a', 2: 'b'}

In [31]:
# doble bucle

for valor in dictio.values():   # vas a recorrer los valores del dictio
    
    if type(valor)!=int:    # si el tipo de dato del valor es diferente de entero...
        
        for grupo in valor:  # ...recorre el valor
            print(grupo)
    
    else:   # de otra manera me das feedback
        print('No puedo hacer el loop alegre...')

No puedo hacer el loop alegre...
1
3
5
6
h
o
l
a
1
2

In [32]:
# doble bucle, intentando entrar al valor del dictio segunda capa

for valor in dictio.values():   # vas a recorrer los valores del dictio
    
    if type(valor)==dict:    # si el tipo de dato del valor es diferente de entero...
        
        for key in valor:  # ...recorre el valor
            print(valor[key])
    
    else:   # de otra manera me das feedback
        print('No puedo hacer el loop alegre...')

No puedo hacer el loop alegre...
No puedo hacer el loop alegre...
No puedo hacer el loop alegre...
a
b

**while**

In [33]:
while True:   # bucle infinito
    break     # romper el bucle

In [37]:
# con control


contador=0

while contador<len(lst_str):
    print('Dentro de bucle...')
    a=lst_str[contador]*2
    print(a)
    print()
    print('Contador: ', contador)
    print()
    contador += 1  # el contador no se actualiza si no se pone +=1
    
print('Se acabo, fuera del bucle')

Dentro de bucle...
fsdffsdf

Contador:  0

Dentro de bucle...
rewtwrrewtwr

Contador:  1

Dentro de bucle...
treqtqrettreqtqret

Contador:  2

Dentro de bucle...
holahola

Contador:  3

Dentro de bucle...
ryebfuwbryebfuwb

Contador:  4

Dentro de bucle...
tegegegtegegeg

Contador:  5

Dentro de bucle...
fwjqfgqfwjqfgq

Contador:  6

Se acabo, fuera del bucle

In [41]:
while 1:
    print('Primer loop')
    
    contador=0
    
    while contador<7:
        print('Contador :', contador)
        contador+=1
        
    if len(dictio)<10:   # si el dictio tiene mas de 10 keys, esto es un bucle infinito
        print('Si, el dictio es mas pequeรฑo...')
        break

Primer loop
Contador : 0
Contador : 1
Contador : 2
Contador : 3
Contador : 4
Contador : 5
Contador : 6
Si, el dictio es mas pequeรฑo...

### Lambda

https://www.codewars.com/kata/5a2fd38b55519ed98f0000ce/train/python

In [42]:
def multi_table(number):
    
    res=''
    
    for i in range(10):
        res += f'{i+1} * {number} = {number*(i+1)}\n'
        
    return res.rstrip('\n')

In [45]:
# nombre_de_la_funcion = lambda parametro_entrada : return


multi_table2 = lambda number: ''.join([f'{i+1} * {number} = {number*(i+1)}\n' for i in range(10)]).rstrip('\n')

In [46]:
multi_table2(5)=='1 * 5 = 5\n2 * 5 = 10\n3 * 5 = 15\n4 * 5 = 20\n5 * 5 = 25\n6 * 5 = 30\n7 * 5 = 35\n8 * 5 = 40\n9 * 5 = 45\n10 * 5 = 50'

True

In [47]:
multi_table2(1)=='1 * 1 = 1\n2 * 1 = 2\n3 * 1 = 3\n4 * 1 = 4\n5 * 1 = 5\n6 * 1 = 6\n7 * 1 = 7\n8 * 1 = 8\n9 * 1 = 9\n10 * 1 = 10'

True

#### otra

https://www.codewars.com/kata/55a70521798b14d4750000a4/train/python

In [48]:
def greet(name):
    return "Hello, {} how are you doing {}?".format(name, 'today')

In [51]:
greet('Ryan')=="Hello, Ryan how are you doing today?"

True

In [50]:
greet = lambda name: "Hello, {} how are you doing {}?".format(name, 'today')

### Map, Reduce, Filter

In [52]:
from functools import reduce

In [53]:
lst=[1, 2, 3, 4]

res=0

for e in lst:
    res+=e
    
print(res)

10

In [54]:
sum(lst)

10

In [61]:
def suma(a, b):
    return a+b

In [62]:
reduce(suma, lst)    # sumatorio

10

In [63]:
def producto(a, b):
    return a*b

In [64]:
reduce(producto, lst)   # productorio

24

In [65]:
def division(a, b):
    return a/b

In [66]:
reduce(division, lst)

0.041666666666666664

### Filter

In [67]:
texto='kjwefbqo3igr1o0ig1o0g5n20obino0ibno05gino0948376983495ht95fgh'

In [68]:
def filtar(x):    # si puedes convertir el tipo de dato a entero, devuelve True, si no False
    try:
        x=int(x)
        return True
    except:
        return False

In [71]:
''.join(list(filter(filtar, texto)))

'31010520005094837698349595'

#### Map, aplicacion matematica

In [73]:
def convertir(x):
    x=str(x)
    x=2*x
    x+='\n'
    return x

In [75]:
list(map(convertir, lst))

['11\n', '22\n', '33\n', '44\n']

In [77]:
import pandas as pd

df=pd.DataFrame(lst)

df.head()

   0
0  1
1  2
2  3
3  4

In [80]:
df[0].apply(convertir)  # el apply de pandas es lo mismo que el map de python

0    11\n
1    22\n
2    33\n
3    44\n
Name: 0, dtype: object

In [81]:
df[0].apply(lambda x: 2*str(x)+'\n')

0    11\n
1    22\n
2    33\n
3    44\n
Name: 0, dtype: object

## SQL

In [83]:
df=pd.read_csv('../data/shoes.csv')
df=df[['brand', 'colors', 'sizes', 'prices.amountMax', 'imageURLs', 'ean', 'upc']]  
df=df.dropna().reset_index(drop=True) 
df.sizes=df.sizes.apply(lambda x: x.split(','))
df.colors=df.colors.apply(lambda x: x.split(','))
df=df.explode('sizes').reset_index(drop=True)
df=df.explode('colors').reset_index(drop=True)

codigo=pd.read_csv('../data/upc_corpus.csv')
codigo=codigo.dropna().reset_index(drop=True)

df.ean=codigo.ean.iloc[0:len(df)]
df=df.rename(columns={'colors':'color', 'sizes':'size', 'prices.amountMax': 'prices', 'imageURLs':'url'})

df['id']=[i for i in range(len(df))]

df.head()

2021-05-12 11:13:40,927 [697] WARNING  py.warnings:110: [JupyterRequire] /Users/iudh/opt/anaconda3/envs/clase/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,brand,color,size,prices,url,ean,upc,id
0,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,033977045743,0
1,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370,033977045743,1
2,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776092321,033977045743,2
3,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,701197194311,033977045743,3
4,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776110773,033977045743,4

In [105]:
import mysql.connector as conn

In [85]:
# conexion al servidor de sql, para crear base de datos

crea_db=conn.connect(host='localhost', user='root', passwd='password')

cursor=crea_db.cursor()  # cursor es el objeto de conexion enter python y sql, con el cual podemos hacer queries

#queries
cursor.execute('drop database if exists nueva_db')  # si existe la base de datos, borrala

cursor.execute('create database nueva_db')   # crea la base de datos

In [86]:
# check

cursor.execute('show databases')
for x in cursor:
    print(x)

('app',)
('Apps',)
('information_schema',)
('mydb',)
('mysql',)
('nueva_db',)
('performance_schema',)
('productos',)
('prueba',)
('pub',)
('publ',)
('publications',)
('sys',)

In [106]:
# conectar a sql, a una db especifica

db=conn.connect(host='localhost', user='root', passwd='password', database='nueva_db')

cursor=db.cursor()

In [88]:
# crear una tabla

cursor.execute('drop table if exists tabla')   # borra la tabla si existe



tabla='''
        create table tabla(
            
            id int,
            brand varchar(50),
            color varchar(50),
            size varchar(50),
            prices float,
            url varchar(10000),
            ean varchar(50),
            upc varchar(5000)
        );
'''


cursor.execute(tabla)

In [107]:
# check

cursor.execute('show tables')
for x in cursor:
    print(x)

('tabla',)

In [127]:
# query de insercion

for i in range(len(df)):
    
    
    insert_query=f"insert into {'tabla'} ({','.join(df.columns)}) values {tuple(df.iloc[i].values)};"
    
    # insert query = insert into nombre_tabla (columnas del dataframe) values (valores de cada fila del dataframe)

    cursor.execute(insert_query)
    
db.commit()  # para guardar la base de datos

In [110]:
insert_query

"insert into tabla (brand,color,size,prices,url,ean,upc,id) values ('easy street', 'Pewter', '12 WIDE', 54.99, 'https://media.kohlsimg.com/is/image/kohls/2794126_Navy?wid=50&hei=50&op_sharpen=1,https://media.kohlsimg.com/is/image/kohls/2794126_Navy?wid=1000&hei=1000&op_sharpen=1,https://media.kohlsimg.com/is/image/kohls/2794126_Black?wid=50&hei=50&op_sharpen=1,https://media.kohlsimg.com/is/image/kohls/2794126_Black?wid=1000&hei=1000&op_sharpen=1,https://ll-us-i5.wal.co/dfw/63fd9f59-19a7/k2-_29be935d-2f27-4030-949a-59d29ead73e1.v11.jpg-1acb3420601ebe50db1d068b83f74d79afe3744e-optim-500x500.jpg', '999994448700', '889885265397,889885268091,889885264949,889885266745,889885265403,889885268107,889885264956,889885267209,889885266752,889885265410,889885268114,889885264963,889885267216,889885266769,889885265427,889885265878,889885268121,889885264970,889885267223,889885266776,889885265434,889885265885,889885268138,889885264987,889885267230,889885266783,889885267698,889885265441,889885265892,889885268145,889885264994,889885267247,889885266790,889885265458,889885265908,889885268152,889885265007,889885267254,889885266806,889885267711,889885265465,889885265915,889885268169,889885265014,889885267261,889885266813,889885265472,889885268176,889885265021,889885267278,889885266820,889885265489,889885265939,889885268183,889885265038,889885267285,889885266837,889885265496,889885265946,889885268190,889885265045,889885267292,889885266844,889885265502,889885268206,889885265052,889885267308,889885266851,889885265519,889885268213,889885265069,889885266868,889885265533,889885268237,889885265083,889885266882,889885265540,889885268244,889885265090,889885266899,889885265557,889885268251,889885265106,889885266905,889885267803,889885267353,889885265564,889885268268,889885265113,889885266912,889885267360,889885265571,889885268275,889885265120,889885266929,889885267377,889885265588,889885268282,889885265137,889885266936,889885267384,889885265595,889885268299,889885265144,889885266943,889885265601,889885268305,889885265151,889885266950,889885265618,889885268312,889885265168,889885266967,889885265625,889885268329,889885265175,889885266974,889885265632,889885268336,889885265182,889885266981,889885267032,889885265687,889885265236,889885268381,889885267049,889885265694,889885265243,889885268398,889885267056,889885265700,889885265250,889885268404,889885267063,889885265717,889885265267,889885268411,889885267070,889885265724,889885265274,889885268428,889885267087,889885265731,889885265281,889885268435,889885266998,889885265649,889885265199,889885268343,889885267001,889885265656,889885265205,889885268350,889885267018,889885265663,889885265212,889885268367,889885267025,889885265670,889885267476,889885265229,889885268374,889885267674,889885267391,889885267728,889885265861,889885265953', 41187);"

In [108]:
cursor.execute('select * from tabla limit 1')
for x in cursor:
    print(x)

(0, 'MUK LUKS', 'Grey', '10', 47.0, 'https://i5.walmartimages.com/asr/421de5d5-3a74-4ca2-ae91-a75787f7da41_1.375e3cf74dc82303ce37bdf6a9742610.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/202d5a0e-b2aa-4d47-b63c-661fc3f9cd69_1.a61c1848859953067192fb2ce1c4f916.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/55a10ffd-de74-406b-8aa5-ae5be3569ee3_1.4b179b9702f0076cdf701afd0e7dcda2.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/138e9ecf-fac8-4e9d-946a-7ca33dfa46aa_1.e4211c14f2a6ecf891e3d440402b5f82.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/8c6c1ee4-7708-4d45-b48a-b30f974a5f2f_1.857088c50496451990583941d955218d.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/a486d1cf-f2b5-49ca-b0f8-3e2db896c51c_1.de1c99ac6fdfcf3dc3ddbd9c1c6c72b1.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF', '725177540363', '033977045743')

In [111]:
cursor.execute('select id, color, size/prices from tabla limit 5')
for x in cursor:
    print(x)

(0, 'Grey', 0.2127659574468085)
(1, 'Grey', 0.14893617021276595)
(2, 'Grey', 0.1276595744680851)
(3, 'Grey', 0.19148936170212766)
(4, 'Grey', 0.1702127659574468)

In [128]:
query='select id, color, size/prices as cosa_rara from tabla'

data=pd.read_sql(query, db)

data.head()

   id color  cosa_rara
0   0  Grey   0.212766
1   1  Grey   0.148936
2   2  Grey   0.127660
3   3  Grey   0.191489
4   4  Grey   0.170213