# 5.1 - MongoDB

https://docs.mongodb.com/manual/administration/install-community/

MongoDB es una base de datos orientada a documentos. Esto quiere decir que en lugar de guardar los datos en registros, guarda los datos en documentos. Estos documentos son almacenados en BSON, que es una representación binaria de JSON.

Una de las diferencias más importantes con respecto a las bases de datos relacionales, es que no es necesario seguir un esquema. Los documentos de una misma colección, concepto similar a una tabla de una base de datos relacional, pueden tener esquemas diferentes.

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /Users/iudh/opt/anaconda3/envs/clase/lib/python3.7/site-packages (3.11.0)

In [2]:
import pymongo  # importa toda la libreria

In [3]:
cliente=pymongo.MongoClient()  # llamar a la clase MongoClient

db=cliente.nueva_db            # crear una base de datos

In [4]:
cliente.list_database_names()

['admin',
 'comp',
 'companies',
 'config',
 'earthquake',
 'geo_attack',
 'linkedin',
 'local',
 'supply']

In [5]:
colec=db.n_coleccion   # crea coleccion

In [6]:
db.list_collection_names()

[]

In [7]:
dictio={'nombre':' Juan', 'edad':25}

colec.insert_one(dictio)  # inserta elemento

In [8]:
cliente.list_database_names()

['admin',
 'comp',
 'companies',
 'config',
 'earthquake',
 'geo_attack',
 'linkedin',
 'local',
 'nueva_db',
 'supply']

In [9]:
db.list_collection_names()

['n_coleccion']

In [10]:
colec.insert_many([
    {'nombre':'Ana', 'edad':45},
    {'saludo':'hola pero que pashhhaa', 'altura':50, 'tiempo':50}
])

# inserta varios

In [11]:
colec.insert_one({'id':0, 'nombre':'Maria', 'edad':45})

In [12]:
colec.insert_one({'_id':0, 'nombre':'Pepe', 'edad':45}) # cambia id

In [13]:
list(colec.find())   # encuentra todo

[{'_id': ObjectId('60b0ac64a7b5a8307a3c1764'), 'nombre': ' Juan', 'edad': 25},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1765'), 'nombre': 'Ana', 'edad': 45},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1766'),
  'saludo': 'hola pero que pashhhaa',
  'altura': 50,
  'tiempo': 50},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1767'),
  'id': 0,
  'nombre': 'Maria',
  'edad': 45},
 {'_id': 0, 'nombre': 'Pepe', 'edad': 45}]

In [14]:
list(colec.find().limit(2)) # todo con 2 de limite

[{'_id': ObjectId('60b0ac64a7b5a8307a3c1764'), 'nombre': ' Juan', 'edad': 25},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1765'), 'nombre': 'Ana', 'edad': 45}]

In [15]:
list(colec.find({'edad':25}))  # elemento con edad=25

[{'_id': ObjectId('60b0ac64a7b5a8307a3c1764'), 'nombre': ' Juan', 'edad': 25}]

In [16]:
list(colec.find({'edad': {'$gte': 25}}))  # elemento con edad>=25

[{'_id': ObjectId('60b0ac64a7b5a8307a3c1764'), 'nombre': ' Juan', 'edad': 25},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1765'), 'nombre': 'Ana', 'edad': 45},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1767'),
  'id': 0,
  'nombre': 'Maria',
  'edad': 45},
 {'_id': 0, 'nombre': 'Pepe', 'edad': 45}]

In [17]:
list(colec.find({'edad': {'$gt': 25}}))  # elemento con edad>25

[{'_id': ObjectId('60b0ac64a7b5a8307a3c1765'), 'nombre': 'Ana', 'edad': 45},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1767'),
  'id': 0,
  'nombre': 'Maria',
  'edad': 45},
 {'_id': 0, 'nombre': 'Pepe', 'edad': 45}]

In [18]:
list(colec.find().sort('edad', -1))   # ordenado por las edad descendente -1

[{'_id': ObjectId('60b0ac64a7b5a8307a3c1765'), 'nombre': 'Ana', 'edad': 45},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1767'),
  'id': 0,
  'nombre': 'Maria',
  'edad': 45},
 {'_id': 0, 'nombre': 'Pepe', 'edad': 45},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1764'), 'nombre': ' Juan', 'edad': 25},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1766'),
  'saludo': 'hola pero que pashhhaa',
  'altura': 50,
  'tiempo': 50}]

In [19]:
colec.delete_one({'_id':0})  # borrar un elemento

In [20]:
list(colec.find())

[{'_id': ObjectId('60b0ac64a7b5a8307a3c1764'), 'nombre': ' Juan', 'edad': 25},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1765'), 'nombre': 'Ana', 'edad': 45},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1766'),
  'saludo': 'hola pero que pashhhaa',
  'altura': 50,
  'tiempo': 50},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1767'),
  'id': 0,
  'nombre': 'Maria',
  'edad': 45}]

In [21]:
colec.update_one({'nombre':'Maria', 'id':0}, {'$set': {'nombre': 'Maria Alejandra'}})  # actualizar uno

In [22]:
list(colec.find())

[{'_id': ObjectId('60b0ac64a7b5a8307a3c1764'), 'nombre': ' Juan', 'edad': 25},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1765'), 'nombre': 'Ana', 'edad': 45},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1766'),
  'saludo': 'hola pero que pashhhaa',
  'altura': 50,
  'tiempo': 50},
 {'_id': ObjectId('60b0ac64a7b5a8307a3c1767'),
  'id': 0,
  'nombre': 'Maria Alejandra',
  'edad': 45}]

In [23]:
colec.drop()   # elimina coleccion

In [24]:
db.list_collection_names()

[]

### Geoqueries

In [25]:
cliente=pymongo.MongoClient('mongodb://localhost:27017')  # cliente , la conexion por defecto

In [26]:
db=cliente.companies   # llamada a la base de datos

In [27]:
al_menos_1_ofi=db.companies.find({'offices': {'$not': {'$size':0}}},
                                 {'name':1, '_id':0, 'offices':1})


# devuelve aquellos elemento con oficinas distintas de cero
# solo el nombre y oficinas

In [28]:
import pandas as pd

df=pd.DataFrame(al_menos_1_ofi)
df.head()

        name                                            offices
0   Wetpaint  [{'description': '', 'address1': '710 - 2nd Av...
1  AdventNet  [{'description': 'Headquarters', 'address1': '...
2       Zoho  [{'description': 'Headquarters', 'address1': '...
3       Digg  [{'description': None, 'address1': '135 Missis...
4   Facebook  [{'description': 'Headquarters', 'address1': '...

In [29]:
df=df.dropna()

In [30]:
for i in range(len(df.offices[0])):
    print (pd.DataFrame(df.offices[0][i].items()))

              0                 1
0   description
1      address1  710 - 2nd Avenue
2      address2        Suite 1100
3      zip_code             98104
4          city           Seattle
5    state_code                WA
6  country_code               USA
7      latitude         47.603122
8     longitude       -122.333253
              0                     1
0   description
1      address1  270 Lafayette Street
2      address2             Suite 505
3      zip_code                 10012
4          city              New York
5    state_code                    NY
6  country_code                   USA
7      latitude             40.723731
8     longitude            -73.996431

In [31]:
jsnn=df.offices.apply(lambda x: pd.json_normalize(x))

jsnn

0          description              address1    address...
1            description          address1   address2 z...
2            description         address1   address2 zi...
3          description            address1 address2 zip...
4            description          address1 address2 zip...
                               ...
13739      description       address1 address2 zip_code...
13740         description               address1     ad...
13741      description       address1 address2 zip_code...
13742      description address1 address2 zip_code      ...
13743      description                       address1  ...
Name: offices, Length: 13744, dtype: object

In [32]:
display(jsnn[0])

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253
1,,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431

In [33]:
df_n=pd.DataFrame()
for i in range(1000):
    df_n=df_n.append(pd.json_normalize(df.offices[i]), ignore_index=True)

df_n

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,,710 - 2nd Avenue,Suite 1100,98104,Seattle,WA,USA,47.603122,-122.333253
1,,270 Lafayette Street,Suite 505,10012,New York,NY,USA,40.723731,-73.996431
2,Headquarters,4900 Hopyard Rd.,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
3,Headquarters,4900 Hopyard Rd,Suite 310,94588,Pleasanton,CA,USA,37.692934,-121.904945
4,None,135 Mississippi St,,94107,San Francisco,CA,USA,37.764726,-122.394523
...,...,...,...,...,...,...,...,...,...
1267,Headquarters,112 Broadway St.,Suite B,27701,Durham,NC,USA,35.996157,-78.902115
1268,Mailing Address,P.O. Box 1411,,27702,Durham,NC,USA,35.993900,-78.898600
1269,Shoeboxed Australia,101/65 Hume St,,2065,Crows Nest,None,AUS,NaN,NaN
1270,None,2180a Dwight Way,None,94704,Berkeley,CA,USA,37.864221,-122.265466
1271,None,,None,10001,,NY,USA,40.750800,-73.996122

In [34]:
# extrae la primera oficina

def get_first(data):
    data=data['offices']
    
    principal=None
    
    
    if data[0]['latitude'] and data[0]['longitude']:
        # esto ya es una geoquery (geopoint)
        principal={
            'type':'Point',
            'coordinates':[data[0]['longitude'],
                           data[0]['latitude']]
        }
        
    return {'totalOffices': len(data), 
            'lat': data[0]['latitude'],
            'lng': data[0]['longitude'],
            'principal': principal}

In [35]:
first_office=df[['offices']].apply(get_first, result_type='expand', axis=1)

In [36]:
first_office.head()

,totalOffices,lat,lng,principal
0,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
1,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
3,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."

In [37]:
first_office=first_office.dropna()


df=pd.concat([df, first_office], axis=1).drop(columns=['offices']) # solo para el nombre

df.head()

,name,totalOffices,lat,lng,principal
0,Wetpaint,2.0,47.603122,-122.333253,"{'type': 'Point', 'coordinates': [-122.333253,..."
1,AdventNet,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
2,Zoho,1.0,37.692934,-121.904945,"{'type': 'Point', 'coordinates': [-121.904945,..."
3,Digg,1.0,37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
4,Facebook,3.0,37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."

In [38]:
df=df.dropna()

In [39]:
df.to_json('../data/oficinas.json')    # guarda a json

In [42]:
db.first_office.insert_many(df.to_dict('records'))  # inserta en mongo

In [43]:
# crear index 2d

db.first_office.create_index([('principal', '2dsphere')])

'principal_2dsphere'

In [44]:
# encuentra los elementos dentro de cierto radio, hace geoquery

def find_near(geopoint, radio=1000):
    
    return db.first_office.find({'principal':{
        '$near': {'$geometry': geopoint, '$maxDistance':radio}
    }})

In [45]:
# ejemplo

park_avenue={'type': 'Point', 'coordinates':[-73.987308, 40.738935]}  # geopoint

radio=10000  # radio de busqueda

n_ofi=find_near(park_avenue, radio).count()

n_ofi

/Users/iudh/opt/anaconda3/envs/clase/lib/python3.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  import sys

556

In [46]:
pd.DataFrame(find_near(park_avenue, radio)).head()

,_id,name,totalOffices,lat,lng,principal
0,60b0ac97a7b5a8307a3c5ab1,SpaBooker,1.0,40.738567,-73.987199,"{'type': 'Point', 'coordinates': [-73.987199, ..."
1,60b0ac97a7b5a8307a3c4889,HealthiNation,1.0,40.739341,-73.988357,"{'type': 'Point', 'coordinates': [-73.988357, ..."
2,60b0ac97a7b5a8307a3c4471,Special Ops Media,1.0,40.737721,-73.987725,"{'type': 'Point', 'coordinates': [-73.987725, ..."
3,60b0ac97a7b5a8307a3c6103,Mashable,1.0,40.740154,-73.986742,"{'type': 'Point', 'coordinates': [-73.9867417,..."
4,60b0ac97a7b5a8307a3c5208,Return Path,1.0,40.740207,-73.987002,"{'type': 'Point', 'coordinates': [-73.987002, ..."

In [47]:
def find_near(lst_lat_lng, radio=1000):
    
    return db.first_office.find({'principal':{
        '$near': {'$geometry': {'type': 'Point', 'coordinates':lst_lat_lng}, 
                  '$maxDistance':radio}
    }})

In [50]:
pd.DataFrame(find_near([-73.987308, 40.738935])).head()

,_id,name,totalOffices,lat,lng,principal
0,60b0ac97a7b5a8307a3c5ab1,SpaBooker,1.0,40.738567,-73.987199,"{'type': 'Point', 'coordinates': [-73.987199, ..."
1,60b0ac97a7b5a8307a3c4889,HealthiNation,1.0,40.739341,-73.988357,"{'type': 'Point', 'coordinates': [-73.988357, ..."
2,60b0ac97a7b5a8307a3c4471,Special Ops Media,1.0,40.737721,-73.987725,"{'type': 'Point', 'coordinates': [-73.987725, ..."
3,60b0ac97a7b5a8307a3c6103,Mashable,1.0,40.740154,-73.986742,"{'type': 'Point', 'coordinates': [-73.9867417,..."
4,60b0ac97a7b5a8307a3c5208,Return Path,1.0,40.740207,-73.987002,"{'type': 'Point', 'coordinates': [-73.987002, ..."

In [ ]:
db.first_office.drop()