# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pok_leg=pokemon[pokemon['Legendary']==True]['Name'].count()
pok_n_leg=pokemon[pokemon['Legendary']==False]['Name'].count()
print('Pokemon Legendary: {}\nPokemon no Legendary: {}'.format(pok_leg,pok_n_leg))

Pokemon Legendary: 65
Pokemon no Legendary: 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:

pok_leg_mean=pokemon[pokemon['Legendary']==True]['Total'].mean()
pok_leg_std=pokemon[pokemon['Legendary']==True]['Total'].std()
pok_n_leg_mean=pokemon[pokemon['Legendary']==False]['Total'].mean()
pok_n_leg_std=pokemon[pokemon['Legendary']==False]['Total'].std()

print ('Pokemon Legendary: Mean={:.4f} Std={:.4f}'.format(pok_leg_mean,pok_leg_std))
print ('Pokemon no Legendary: Mean={:.4f} Std={:.4f}'.format(pok_n_leg_mean,pok_n_leg_std))

Pokemon Legendary: Mean=637.3846 Std=60.9374
Pokemon no Legendary: Mean=417.2136 Std=106.7604

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

from scipy.stats import ttest_ind
ttest_ind(pokemon[pokemon['Legendary']==True]['Total'],pokemon[pokemon['Legendary']==False]['Total'])

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

Your conclusions here:

I can check that exists a significant difference between the two groups, so I can reject the null hypothesis
with total confidence.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [7]:
# Your code here:

types_1=pokemon['Type 1'].unique()
print(types_1)
pokemon.Name.groupby(pokemon['Type 1']).count()

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [8]:
# Your code here:

pok_wat_mean=pokemon[pokemon["Type 1"]=="Water"]['Total'].mean()
pok_n_wat_mean=pokemon[pokemon["Type 1"]!="Water"]['Total'].mean()
pok_wat_std=pokemon[pokemon["Type 1"]=="Water"]['Total'].std()
pok_n_wat_std=pokemon[pokemon["Type 1"]!="Water"]['Total'].std()

print('Pokemon Water: Mean={:.4f} Std={:.4f}'.format(pok_wat_mean,pok_wat_std))
print ('Pokemon no Water: Mean={:.4f} Std={:.4f}'.format(pok_n_wat_mean,pok_n_wat_std))

Pokemon Water: Mean=430.4554 Std=113.1883
Pokemon no Water: Mean=435.8590 Std=121.0917

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [9]:
# Your code here:

ttest_ind(pokemon[pokemon['Type 1']=='Water']['Total'],pokemon[pokemon['Type 1']!='Water']['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

Your conclusions here:

I can't reject the null hypotesis because de pvalue is higher than 0.05, so the difference between two groups isn't significant.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [10]:
# Your code here:

from scipy.stats import ttest_rel

att_vs_def=ttest_rel(pokemon['Attack'],pokemon['Defense'])
print(att_vs_def)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

Your conclusions here:

We can see that the "pvalue" is much less than 0.05, therefore the difference is very significant and we can 
reject the null hypothesis with total confidence.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [11]:
# Your code here:

spatt_vs_spdef=ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])
print(spatt_vs_spdef)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

Your conclusions here:

We can see that the "pvalue" is greater than 0.05 and we can deduce that there is a very small difference and
So we can not reject the null hypothesis.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [12]:
# Your code here:
    
from scipy.stats import ttest_1samp
ttest_1samp(pokemon['Attack']-pokemon['Defense'],0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [13]:
# Your code here:

pokemon_cross=pd.crosstab(pokemon['Legendary'], pokemon['Type 1']=='Water')
display(pokemon_cross)

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [14]:
# Your code here:

from scipy.stats import chi2_contingency

chi2, p, dof, ex=chi2_contingency(pokemon_cross)
print(chi2_contingency(pokemon_cross))
p

(2.9429200762850503, 0.08625467249550949, 1, array([[632.1, 102.9],
       [ 55.9,   9.1]]))

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

Your answer here:

We can see that the "pvalue" is 0.08, therefore we can not
reject the null hypothesis with total confidence.