# 2.1 - Intro Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Numeros enteros

In [2]:
edad = 27

In [3]:
print(edad)

27

In [4]:
type(edad)

int

In [5]:
type(0)

int

In [6]:
type(-3)

int

### Numeros reales (float)

In [7]:
temp=35.6

In [8]:
type(temp)

float

In [9]:
type(3.1415926535)

float

In [10]:
type(.3)

float

In [11]:
type(0.)

float

### Numeros complejos (complex)

In [12]:
4+1j

(4+1j)

In [13]:
1j

1j

In [14]:
type(1j)

complex

In [15]:
type(4+1j)

complex

In [16]:
89+9j

(89+9j)

In [17]:
n=89+9j

n.real, n.imag

(89.0, 9.0)

### Operaciones basicas

In [18]:
# suma

3 + 4

7

In [19]:
3 + 4.7

7.7

In [20]:
# resta

3 - 4

-1

In [21]:
numero= 3 - 4

In [22]:
numero

-1

In [23]:
4 + numero

3

In [24]:
# multiplicacion

3 * 4

12

In [25]:
3 * 3.4

10.2

In [26]:
# division

3 / 4

0.75

In [27]:
numero=12/3.3
numero

3.6363636363636367

In [28]:
12//3.3  # division entera

3.0

In [29]:
round(numero, 5)   # redondea el numero a 5 cifras decimales

3.63636

In [30]:
# modulo

20 / 3

6.666666666666667

In [31]:
20//3

6

In [32]:
20 % 3

2

In [33]:
# jerarquia

3 * 4 - 2

10

In [34]:
3 * (4 - 2)

6

In [35]:
# potencia/raiz

2 ** 3

8

In [36]:
3 ** (2+3+4)

19683

In [37]:
2 ** .5

1.4142135623730951

### Conversiones

In [38]:
abs(-3)

3

In [39]:
int(3.1415926535)

3

In [40]:
float(2)

2.0

In [41]:
round(6.77)

7

In [42]:
round(6.17)

6

In [43]:
round(6.17674376345678, 4)

6.1767

In [44]:
import math

In [45]:
math.floor(6.732)   # redondeo por abajo

6

In [46]:
math.ceil(6.732)   # redondeo por arriba

7

In [47]:
#help(math)

In [48]:
math.log10(3)

0.47712125471966244

In [49]:
int(math.log10(100))

2

In [50]:
math.log(100)

4.605170185988092

In [51]:
math.exp(4.605170185988092)

100.00000000000004

### Booleanos

In [52]:
bool()

False

In [53]:
True

True

In [54]:
False

False

In [55]:
type(True)

bool

In [56]:
0.5 == 7

False

In [57]:
0.5 < 7

True

In [58]:
0.5 > 7

False

In [59]:
0.5 >= 7

False

In [60]:
0.5 <= 7

True

In [61]:
not True

False

In [62]:
0.5 != 7

True

### https://wiki.python.org/moin/BitwiseOperators

In [63]:
4 & 2    # y logico

0

In [64]:
4 >> 2

1

In [65]:
4 | 2

6

### Valores nulos

In [66]:
None

In [67]:
type(None)

NoneType

### Strings (cadenas de caracteres)

In [68]:
nombre='pepe'

In [69]:
type(nombre)

str

In [70]:
'pepe"s'

'pepe"s'

In [71]:
nombre + ' ' + 'que tal'

'pepe que tal'

In [72]:
nombre  + 'que tal'

'pepeque tal'

In [73]:
nombre*2

'pepepepe'

In [74]:
nombre*2.1

TypeError: can't multiply sequence by non-int of type 'float'

### Listas

In [77]:
lst=[1.1, 3, 5, 66565, 4324, 65646, 9343, 34242]

lst

[1.1, 3, 5, 66565, 4324, 65646, 9343, 34242]

In [78]:
type(lst)

list

In [79]:
len(lst)

8

In [80]:
min(lst)

1.1

In [81]:
max(lst)

66565

In [82]:
24 in lst

False

In [83]:
'hola' in lst

False

In [84]:
1.1 in lst

True

In [85]:
lst[2]

5

In [86]:
lst[2]='hola'

In [87]:
lst

[1.1, 3, 'hola', 66565, 4324, 65646, 9343, 34242]

In [88]:
# slicing, acceso por indices a las listas

# lst[start: stop: step]

lst[0:4:2]

[1.1, 'hola']

In [89]:
lst[-1]

34242

In [90]:
lst[::-1]   # pa darle la vuelta

[34242, 9343, 65646, 4324, 66565, 'hola', 3, 1.1]

**tipos de bucles**

In [91]:
for elemento in lst:
    print(elemento)

1.1
3
hola
66565
4324
65646
9343
34242

In [92]:
elemento

34242

In [93]:
for i in range(len(lst)):
    print(i, '---', lst[i])

0 --- 1.1
1 --- 3
2 --- hola
3 --- 66565
4 --- 4324
5 --- 65646
6 --- 9343
7 --- 34242

In [94]:
#range(start, stop, step)

for i in range(1, 10, 3):
    print(i)

1
4
7

In [95]:
list(range(1, 11, 5))

[1, 6]

In [96]:
for i,e in enumerate(lst):
    print(i, '....', e)

0 .... 1.1
1 .... 3
2 .... hola
3 .... 66565
4 .... 4324
5 .... 65646
6 .... 9343
7 .... 34242

In [97]:
list(enumerate(lst))

[(0, 1.1),
 (1, 3),
 (2, 'hola'),
 (3, 66565),
 (4, 4324),
 (5, 65646),
 (6, 9343),
 (7, 34242)]

**while**

In [98]:
# fibonacci

a=0
b=1

contador=0

print(a)
print(b)

while contador<10:
    c=a+b
    print(c)
    
    a=b
    b=c
    
    contador += 1
    #contador = contador + 1   # lo mismo

0
1
1
2
3
5
8
13
21
34
55
89

In [99]:
while 1:      # bucle infinito
    break

In [100]:
while 0:     # ni siquiera seria un bucle
    print(1)

In [101]:
lst=[]

for i in range(20):
    lst.append(i)
    
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [102]:
lst+=[12, 56, 78]

In [103]:
sorted(lst)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 56,
 78]

**condicionales**

In [104]:
a=89

if a==0:
    print('A es un cerito...')
    
elif a<0:
    print('menor que cero...')
    
elif a>0:
    print('mayor que cero...')
    
else:
    print('otro')

mayor que cero...

**list comprehension**

In [105]:
lst=[]

for i in range(10):
    lst.append(i)
    
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
lst_2=[i for i in range(10)]

lst_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
lst_lst=[]

for i in range(0, 9, 3):
    lst_lst.append([i+1, i+2, i+3])
    
lst_lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [108]:
lst_lst_2=[[i+1, i+2, i+3] for i in range(0, 9, 3)]

lst_lst_2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [109]:
for i in range(5):
    print('primer bucle', i)
    for j in range(3):
        print('segundo', i, j)

primer bucle 0
segundo 0 0
segundo 0 1
segundo 0 2
primer bucle 1
segundo 1 0
segundo 1 1
segundo 1 2
primer bucle 2
segundo 2 0
segundo 2 1
segundo 2 2
primer bucle 3
segundo 3 0
segundo 3 1
segundo 3 2
primer bucle 4
segundo 4 0
segundo 4 1
segundo 4 2

In [110]:
lst=[]

for i in range(5):
    for j in range(3):
        lst.append(i*j)
        
lst

[0, 0, 0, 0, 1, 2, 0, 2, 4, 0, 3, 6, 0, 4, 8]

In [111]:
lst=[i*j for j in range(3) for i in range(5)]

lst

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8]

In [112]:
for e in lst:
    if e%2==0:
        print(e)

0
0
0
0
0
0
2
4
0
2
4
6
8

In [113]:
[e for e in lst if e%2==0 and e>4]

[6, 8]

In [114]:
[e for e in lst if e%2==0 or e>4]

[0, 0, 0, 0, 0, 0, 2, 4, 0, 2, 4, 6, 8]

In [115]:
lst.append(9)
lst

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 9]

In [116]:
lst.count(0)

7

In [117]:
lst.extend(lst[:5])

In [118]:
lst

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 9, 0, 0, 0, 0, 0]

In [119]:
lst.index(9)

15

In [120]:
lst.insert(3, 'hola')

lst

[0, 0, 0, 'hola', 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 9, 0, 0, 0, 0, 0]

In [121]:
lst.pop()

0

In [122]:
lst

[0, 0, 0, 'hola', 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 9, 0, 0, 0, 0]

In [123]:
num=lst.pop()

num

0

In [124]:
lst

[0, 0, 0, 'hola', 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 9, 0, 0, 0]

In [125]:
lst.pop(2)

0

In [126]:
lst

[0, 0, 'hola', 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 9, 0, 0, 0]

In [127]:
lst.remove('hola')

In [128]:
lst

[0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 9, 0, 0, 0]

In [129]:
lst[:-2]

[0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 9, 0]

In [130]:
lst.pop(-1)
lst.pop(-1)

0

In [131]:
lst

[0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 9, 0]

In [132]:
lst.reverse()

In [133]:
lst

[0, 9, 8, 6, 4, 2, 0, 4, 3, 2, 1, 0, 0, 0, 0, 0]

In [134]:
lst.sort()

lst

[0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 3, 4, 4, 6, 8, 9]

In [135]:
lst.sort(reverse=True)

lst

[9, 8, 6, 4, 4, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0]

In [136]:
lst.append(num)

In [137]:
lst

[9, 8, 6, 4, 4, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0]

### Tuplas

In [138]:
letras=('a', 'b', 'c')

letras

('a', 'b', 'c')

In [139]:
type(letras)

tuple

In [140]:
for e in letras:
    print(e)

a
b
c

In [141]:
letras.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [142]:
letras.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [143]:
letras[0]=12

letras

TypeError: 'tuple' object does not support item assignment

In [144]:
letras=list(letras)

letras

['a', 'b', 'c']

In [145]:
letras.append('d')

In [146]:
letras=tuple(letras)

In [147]:
letras

('a', 'b', 'c', 'd')

In [148]:
tuple((i for i in range(10)))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### Conjuntos (sets)

In [149]:
lst

[9, 8, 6, 4, 4, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0]

In [150]:
set(lst)

{0, 1, 2, 3, 4, 6, 8, 9}

In [151]:
letras=set()

In [152]:
letras.add('a')

letras

{'a'}

In [153]:
letras.remove('a')

In [154]:
letras

set()

In [155]:
type({'a'})

set

In [156]:
set1=set([2,2,3,4,4,5,5,5,5,5,5,5,6,7,7,8,98])
set2=set([7,8,8,76,6,5,45,54,5,3,56,7,68,8,68,6])

set1

{2, 3, 4, 5, 6, 7, 8, 98}

In [157]:
union=set1.union(set2)

union

{2, 3, 4, 5, 6, 7, 8, 45, 54, 56, 68, 76, 98}

In [158]:
set1.intersection(set2)

{3, 5, 6, 7, 8}

In [159]:
set1.issuperset(set2)

False

In [160]:
set1.issubset(set2)

False

In [161]:
set1.issubset({4,5,6})

False

In [162]:
set1.issuperset({4,5,6})

True

In [163]:
set1 | set2   # union

{2, 3, 4, 5, 6, 7, 8, 45, 54, 56, 68, 76, 98}

In [164]:
set1 & set2  # interseccion

{3, 5, 6, 7, 8}

In [165]:
for e in set1:
    print(e)

2
3
4
5
6
7
8
98

### Diccionarios

In [166]:
dict()

{}

In [167]:
{}

{}

In [168]:
dictio={'a': 2, 'b': 6}

dictio

{'a': 2, 'b': 6}

In [169]:
type(dictio)

dict

In [170]:
dictio[0]

KeyError: 0

In [171]:
dictio['a']

2

In [172]:
lst=[
    {'nombre': 'Ana', 'edad':30, 3:True},
    {'nombre': 'Pepe', 'edad':23, 3:[1,2,3,4]}
]

In [173]:
type(lst)

list

In [174]:
lst[0]['edad']

30

In [175]:
lst[1][3]

[1, 2, 3, 4]

In [176]:
d={'nombre': 'Pepe', 'edad':23, 3:[1,2,3,4]}

for e in d:
    print(e)

nombre
edad
3

In [177]:
d.keys()

dict_keys(['nombre', 'edad', 3])

In [178]:
d.values()

dict_values(['Pepe', 23, [1, 2, 3, 4]])

In [179]:
d.items()

dict_items([('nombre', 'Pepe'), ('edad', 23), (3, [1, 2, 3, 4])])

In [180]:
for e in d.items():
    print(e)

('nombre', 'Pepe')
('edad', 23)
(3, [1, 2, 3, 4])

In [181]:
lst1=[i for i in range(5)]
lst2=[f'{2*i}' for i in range(5)]

lst2

['0', '2', '4', '6', '8']

In [182]:
list(zip(lst2, lst1))

[('0', 0), ('2', 1), ('4', 2), ('6', 3), ('8', 4)]

In [183]:
{k:v for k,v in zip(lst2, lst1)}

{'0': 0, '2': 1, '4': 2, '6': 3, '8': 4}

In [184]:
d.update({'edad': 24})

In [185]:
d.popitem()

(3, [1, 2, 3, 4])

In [186]:
d.get('edad', 0)

24

In [187]:
d.get('hola', 'Valor por defecto....')

'Valor por defecto....'

In [188]:
d['nombre']='Maria'

In [189]:
d

{'nombre': 'Maria', 'edad': 24}

In [190]:
lst=[{'nombre': 'Pepe', 'edad':23, 3:[1,2,3,4]},
    {'nombre': 'Ana', 'edad':20, 3:[1,2,3,4]},
    {'nombre': 'Jose', 'edad':17, 3:[1,2,3,4]}]

In [191]:
for e in lst:
    if e['edad']>18:
        print(e['nombre'])

Pepe
Ana