# 3.2 - Funciones, Generadores

https://docs.python.org/3/library/functions.html

In [1]:
print('hola')

In [2]:
print('hola', 'adios', sep='------')

In [3]:
type(print)

In [4]:
max([1,2,3,4,5,6,6,7,77,78])

In [5]:
type(max)

### Funcionmes custom

```python

def nombre_funcion(argumentos de entrada):
    # los dos puntos y la indentacion implican estar en la funcion
    realiza un accion
    return()   # devuelven cierto valor

```

In [6]:
def sumar(a, b):
    return a+b

In [7]:
type(sumar)

function

In [8]:
sumar(1, 2)

3

In [9]:
numero = sumar(6, 8)

In [10]:
numero

14

In [11]:
type(numero)

int

In [12]:
type(sumar(3.6789, 9.078943))

float

In [13]:
sumar(2, sumar(7, 8))

17

In [14]:
def sumar_2(a, b, c):
    
    res=[]
    
    suma=a+b
    
    for i in range(c):
        print(i)
        res.append(c**i * suma)
    
    return res

In [15]:
lst=sumar_2(1, 2, 5)

0
1
2
3
4

In [16]:
lst

[3, 15, 75, 375, 1875]

In [17]:
def sumar_2_sin(a, b, c):
    
    res=[]
    
    suma=a+b
    
    for i in range(c):
        print(i)
        res.append(c**i * suma)
    
    #return res    # sin retorno, devuelve nada

In [18]:
sumar_2_sin(1, 2, 5)

0
1
2
3
4

In [19]:
res=sumar_2_sin(1, 2, 5)

0
1
2
3
4

In [20]:
type(res)

NoneType

**argumentos por defecto**

In [21]:
def sumar_3(a, b, c=2):
    
    return a + b + 1/c

In [22]:
sumar_3(2, 5)

7.5

In [23]:
sumar_3(2, 5, 5)

7.2

In [24]:
sumar_3(c=0.2, b=3, a=1)

9.0

In [25]:
sumar_3(c=0.2, b=3, d=1)

TypeError: sumar_3() got an unexpected keyword argument 'd'

In [26]:
def elevar_al_cuadrado(x, verbose=False):
    
    if verbose:
        print('Numero: ', x)
        
    return x**2

In [27]:
elevar_al_cuadrado(4)

16

In [28]:
elevar_al_cuadrado(4, True)

Numero:  4

16

**argumentos de entrada, args, kwargs**

In [29]:
def sumar(a, b):
    return a+b

In [30]:
sumar(1, 2, 3)

TypeError: sumar() takes 2 positional arguments but 3 were given

In [31]:
# n argumentos de entrada, numero desconocido

def sumar(*args):
    
    print(args)
    print(type(args))
    
    res=0
    
    for e in args:
        
        res+=e
        
    return res

In [32]:
sumar(1, 2)

(1, 2)
<class 'tuple'>

3

In [33]:
sumar(1, 2, 4, 7, 90, 435)

(1, 2, 4, 7, 90, 435)
<class 'tuple'>

539

In [34]:
lst=[1,2,4,5,6,7,9,90,90]

In [35]:
sum(lst)

214

In [36]:
sumar(*lst)

(1, 2, 4, 5, 6, 7, 9, 90, 90)
<class 'tuple'>

214

In [42]:
def saludar(nombre, lang='es', colega=True):
    
    s=''
    
    if colega:
        s='colega!!!!'
        
    if lang=='es':
        print(f'Hola {nombre} {s}')
    else:
        print('Hello {} buddy'.format(nombre))

In [43]:
saludar('Pepe')

Hola Pepe colega!!!!

In [44]:
saludar(input())

Ana
Hola Ana colega!!!!

In [45]:
saludar(['Pepe', 'Ana'])

Hola ['Pepe', 'Ana'] colega!!!!

In [47]:
saludar('Ana', 'fr')

Hello Ana buddy

In [48]:
saludar(*['Pepe', 'en'])

Hello Pepe buddy

In [49]:
def saludar_multiple(*lst, lang='es', colega=True):
    for e in lst:
        saludar(e, lang, colega)

In [50]:
saludar_multiple('Ana', 'Pepe', 'Maria', 'Juan', 'Javi')

Hola Ana colega!!!!
Hola Pepe colega!!!!
Hola Maria colega!!!!
Hola Juan colega!!!!
Hola Javi colega!!!!

In [51]:
lst=['Ana', 'Pepe', 'Maria', 'Juan', 'Javi']

config={'lang':'en', 'colega': False}

In [52]:
saludar_multiple(*lst, **config)

Hello Ana buddy
Hello Pepe buddy
Hello Maria buddy
Hello Juan buddy
Hello Javi buddy

In [53]:
def func(*args, **kwargs):
    print(args)
    print(kwargs)

In [61]:
func(*[1,2,3], **config)

(1, 2, 3)
{'lang': 'en', 'colega': False}

In [62]:
func(1,2,3, **config)

(1, 2, 3)
{'lang': 'en', 'colega': False}

**Alcance (Scope)**

In [70]:
z=4    # z es una variable global, lo ve todo el codigo

m=1

def sumar(b):
    # b es una variable local, solo la funcion puede verla
    global z
    m=20
    print('valor m:', m)
    
    return (b+z, 3)

In [71]:
sumar(7)

valor m: 20

(11, 3)

### Generadores

In [72]:
zip([1,2,3,4], ['a', 'b', 'c', 'd'])

In [74]:
for e in zip([1,2,3,4], ['a', 'b', 'c', 'd']):
    print(e)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [89]:
gen_r=(k for k in range(5))

In [90]:
gen_r

In [91]:
next(gen_r)

0

In [96]:
next(gen_r)

StopIteration:

In [98]:
def saludar(nombre):
    
    yield f'Hello {nombre}'

In [100]:
s=saludar('Ana')

In [101]:
next(s)

'Hello Ana'

In [106]:
nombres=['Ana', 'Maria', 'Pepe']

for e in nombres:
    print(next(saludar(e)))

Hello Ana
Hello Maria
Hello Pepe

In [111]:
type(range)

type

In [112]:
# custom range

def rang(*args):
    
    if len(args)==1:
        stop=args[0]
        start=0
        step=1
        
    elif len(args)==2:
        start=args[0]
        stop=args[1]
        step=1
        
    elif len(args)==3:
        start=args[0]
        stop=args[1]
        step=args[2]
        
    while start<stop:
        yield start
        start+=step

In [114]:
list(rang(6))

[0, 1, 2, 3, 4, 5]

In [115]:
list(rang(3, 6))

[3, 4, 5]

In [116]:
for e in rang(3, 6):
    print(e)

3
4
5

In [117]:
list(rang(3, 15, 4))

[3, 7, 11]

In [119]:
list(rang(3.4, 5.3, 0.5))

[3.4, 3.9, 4.4, 4.9]

### Recursividad

https://es.wikipedia.org/wiki/Funci%C3%B3n_de_Ackermann

In [120]:
def Ackermann(m,n):

    if m==0: 
        return n+1
    
    elif m>0 and n==0: 
        return Ackermann(m-1, 1)
    
    elif m>0 and n>0: 
        return Ackermann(m-1, Ackermann(m, n-1))

In [121]:
Ackermann(0,2)

3

In [122]:
Ackermann(3,0)

5

In [123]:
Ackermann(3,6)

509