# 2.2 - Data Cleaning

# Ejemplo...

### Importaciones y carga de datos.

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

import warnings
warnings.simplefilter('ignore')

In [2]:
df=pd.read_csv('../data/vehicles_messy.csv')

df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,co2,co2A,co2TailpipeAGpm,co2TailpipeGpm,comb08,comb08U,combA08,combA08U,combE,combinedCD,combinedUF,cylinders,displ,drive,engId,eng_dscr,feScore,fuelCost08,fuelCostA08,fuelType,fuelType1,ghgScore,ghgScoreA,highway08,highway08U,highwayA08,highwayA08U,highwayCD,highwayE,highwayUF,hlv,hpv,id,lv2,lv4,make,model,mpgData,phevBlended,pv2,pv4,range,rangeCity,rangeCityA,rangeHwy,rangeHwyA,trany,UCity,UCityA,UHighway,UHighwayA,VClass,year,youSaveSpend,guzzler,trans_dscr,tCharger,sCharger,atvType,fuelType2,rangeA,evMotor,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4.0,2.0,Rear-Wheel Drive,9011,(FFS),-1,1600,0,Regular,Regular Gasoline,-1,-1,25,0.0,0,0.0,0.0,0.0,0.0,0,0,1,0,0,Alfa Romeo,Spider Veloce 2000,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,23.3333,0.0,35.0000,0.0,Two Seaters,1985,-1250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,12.0,4.9,Rear-Wheel Drive,22020,(GUZZLER),-1,3050,0,Regular,Regular Gasoline,-1,-1,14,0.0,0,0.0,0.0,0.0,0.0,0,0,10,0,0,Ferrari,Testarossa,N,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,11.0000,0.0,19.0000,0.0,Two Seaters,1985,-8500,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,329.148148,27,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,Front-Wheel Drive,2100,(FFS),-1,1250,0,Regular,Regular Gasoline,-1,-1,33,0.0,0,0.0,0.0,0.0,0.0,19,77,100,0,0,Dodge,Charger,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,29.0000,0.0,47.0000,0.0,Subcompact Cars,1985,500,NaN,SIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,8.0,5.2,Rear-Wheel Drive,2850,NaN,-1,3050,0,Regular,Regular Gasoline,-1,-1,12,0.0,0,0.0,0.0,0.0,0.0,0,0,1000,0,0,Dodge,B150/B250 Wagon 2WD,N,False,0,0,0,0.0,0.0,0.0,0.0,Automatic 3-spd,12.2222,0.0,16.6667,0.0,Vans,1985,-8500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,467.736842,19,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,66031,"(FFS,TRBO)",-1,2150,0,Premium,Premium Gasoline,-1,-1,23,0.0,0,0.0,0.0,0.0,0.0,0,0,10000,0,14,Subaru,Legacy AWD Turbo,N,False,0,90,0,0.0,0.0,0.0,0.0,Manual 5-spd,21.0000,0.0,32.0000,0.0,Compact Cars,1993,-4000,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

### Exploración

In [3]:
dim_original=df.shape

df.shape

(37843, 83)

In [4]:
df.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [5]:
df.make.value_counts()

Chevrolet                             3795
Ford                                  3102
Dodge                                 2513
GMC                                   2389
Toyota                                1919
                                      ...
Volga Associated Automobile              1
JBA Motorcars, Inc.                      1
S and S Coach Company  E.p. Dutton       1
Import Foreign Auto Sales Inc            1
Goldacre                                 1
Name: make, Length: 133, dtype: int64

In [6]:
df.dtypes

barrels08     float64
barrelsA08    float64
charge120     float64
charge240     float64
city08          int64
               ...
modifiedOn     object
startStop      object
phevCity        int64
phevHwy         int64
phevComb        int64
Length: 83, dtype: object

In [7]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge120        37843 non-null  float64
 3   charge240        37843 non-null  float64
 4   city08           37843 non-null  int64
 5   city08U          37843 non-null  float64
 6   cityA08          37843 non-null  int64
 7   cityA08U         37843 non-null  float64
 8   cityCD           37843 non-null  float64
 9   cityE            37843 non-null  float64
 10  cityUF           37843 non-null  float64
 11  co2              37843 non-null  int64
 12  co2A             37843 non-null  int64
 13  co2TailpipeAGpm  37843 non-null  float64
 14  co2TailpipeGpm   37843 non-null  float64
 15  comb08           37843 non-null  int64
 16  comb08U          37843 non-null  float64
 17  combA08          37843 non-null  int64
 18  combA08U         37843 non-null  float64
 19  combE            37843 non-null  float64
 20  combinedCD       37843 non-null  float64
 21  combinedUF       37843 non-null  float64
 22  cylinders        37720 non-null  float64
 23  displ            37723 non-null  float64
 24  drive            36654 non-null  object
 25  engId            37843 non-null  int64
 26  eng_dscr         22440 non-null  object
 27  feScore          37843 non-null  int64
 28  fuelCost08       37843 non-null  int64
 29  fuelCostA08      37843 non-null  int64
 30  fuelType         37843 non-null  object
 31  fuelType1        37843 non-null  object
 32  ghgScore         37843 non-null  int64
 33  ghgScoreA        37843 non-null  int64
 34  highway08        37843 non-null  int64
 35  highway08U       37843 non-null  float64
 36  highwayA08       37843 non-null  int64
 37  highwayA08U      37843 non-null  float64
 38  highwayCD        37843 non-null  float64
 39  highwayE         37843 non-null  float64
 40  highwayUF        37843 non-null  float64
 41  hlv              37843 non-null  int64
 42  hpv              37843 non-null  int64
 43  id               37843 non-null  int64
 44  lv2              37843 non-null  int64
 45  lv4              37843 non-null  int64
 46  make             37843 non-null  object
 47  model            37843 non-null  object
 48  mpgData          37843 non-null  object
 49  phevBlended      37843 non-null  bool
 50  pv2              37843 non-null  int64
 51  pv4              37843 non-null  int64
 52  range            37843 non-null  int64
 53  rangeCity        37843 non-null  float64
 54  rangeCityA       37843 non-null  float64
 55  rangeHwy         37843 non-null  float64
 56  rangeHwyA        37843 non-null  float64
 57  trany            37832 non-null  object
 58  UCity            37843 non-null  float64
 59  UCityA           37843 non-null  float64
 60  UHighway         37843 non-null  float64
 61  UHighwayA        37843 non-null  float64
 62  VClass           37843 non-null  object
 63  year             37843 non-null  int64
 64  youSaveSpend     37843 non-null  int64
 65  guzzler          2281 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5186 non-null   object
 68  sCharger         666 non-null    object
 69  atvType          3072 non-null   object
 70  fuelType2        1408 non-null   object
 71  rangeA           1403 non-null   object
 72  evMotor          562 non-null    object
 73  mfrCode          7025 non-null   object
 74  c240Dscr         37 non-null     object
 75  charge240b       37843 non-null  float64
 76  c240bDscr        36 non-null     object
 77  createdOn        37843 non-null  object
 78  modifiedOn       37843 non-null  object
 79  startStop        6138 non-null   object
 80  phevCity         37843 non-null  int64
 81  phevHwy          37843 non-null  int64
 82  phevComb         37843 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 59.8 MB

In [8]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [9]:
len(df)

37843

In [10]:
nan_cols[nan_cols>1e4].index

Index(['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType',
       'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr',
       'startStop'],
      dtype='object')

### Borrado de columnas con más de 10.000 valores nulos

In [11]:
df=df.drop(columns=nan_cols[nan_cols>1e4].index)

In [12]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

### Exploración columnas `cylinders` y `displ`

In [13]:
bad_index=df.cylinders[df.cylinders.isna()].index

bad_index[:10]

Int64Index([7138, 7139, 8143, 8144, 8146, 8147, 9212, 9213, 10329, 21413], dtype='int64')

In [14]:
df.iloc[bad_index][['make', 'model', 'fuelType', 'cylinders', 'displ']].head()

        make                   model     fuelType  cylinders  displ
7138  Nissan                Altra EV  Electricity        NaN    NaN
7139  Toyota                 RAV4 EV  Electricity        NaN    NaN
8143  Toyota                 RAV4 EV  Electricity        NaN    NaN
8144    Ford                   Th!nk  Electricity        NaN    NaN
8146    Ford  Explorer USPS Electric  Electricity        NaN    NaN

**Espera, son eléctricos, de hecho existe un Mazda con motor rotatorio. Efectivamente no tienen cilindros ni cilindrada**

In [15]:
df[['cylinders', 'displ']]=df[['cylinders', 'displ']].fillna(0)

In [16]:
df.iloc[bad_index][['make', 'model', 'fuelType', 'cylinders', 'displ']].head()

        make                   model     fuelType  cylinders  displ
7138  Nissan                Altra EV  Electricity        0.0    0.0
7139  Toyota                 RAV4 EV  Electricity        0.0    0.0
8143  Toyota                 RAV4 EV  Electricity        0.0    0.0
8144    Ford                   Th!nk  Electricity        0.0    0.0
8146    Ford  Explorer USPS Electric  Electricity        0.0    0.0

In [17]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

drive    1189
trany      11
dtype: int64

### Exploración columna `drive`

In [18]:
bad_index=df.drive[df.drive.isna()].index

bad_index[:10]

Int64Index([7138, 8144, 8147, 18217, 18218, 18219, 18220, 18221, 18222, 18223], dtype='int64')

In [19]:
df.iloc[bad_index][['make', 'model', 'fuelType', 'drive']].head()

             make               model     fuelType drive
7138       Nissan            Altra EV  Electricity   NaN
8144         Ford               Th!nk  Electricity   NaN
8147       Nissan          Hyper-Mini  Electricity   NaN
18217  Alfa Romeo  Spider Veloce 2000      Regular   NaN
18218     Bertone                X1/9      Regular   NaN

**Este es el punto donde siempre hay que decidir. ¿Qué nos conviene más, borrar registros o rellenar con un `unknown`?**

In [20]:
df['drive']=df['drive'].fillna('unknown')

In [21]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

trany    11
dtype: int64

### Exploración columna `trany`

In [22]:
df.trany.head(10)

0       Manual 5-spd
1       Manual 5-spd
2       Manual 5-spd
3    Automatic 3-spd
4       Manual 5-spd
5    Automatic 3-spd
6       Manual 5-spd
7    Automatic 3-spd
8       Manual 5-spd
9    Automatic 4-spd
Name: trany, dtype: object

In [23]:
df['trany']=df['trany'].fillna('unknown')

In [24]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

**Hasta aquí la limpieza de nulos.**

### Eliminación de duplicados

In [25]:
len(df.drop_duplicates())==len(df)

True

In [26]:
df=df.drop_duplicates()

### Columnas constantes o de baja varianza

Nos fijaremos en las columnas numéricas.

In [27]:
cte_cols=[]

for c in df.select_dtypes(include=np.number):  # las columnas numericas
    
    if df[c].std()==0:
        cte_cols.append(c)
        
cte_cols

['charge120']

In [28]:
df=df.drop(columns=cte_cols)

In [29]:
# columnas de baja varianza

lv_cols=[]

for c in df.select_dtypes(include=np.number):  # las columnas numericas
    
    minimo=min(df[c])
    
    per_90=np.percentile(df[c], 90)  # percentil 90
    
    if per_90==minimo:
        lv_cols.append(c)
    
    
lv_cols

['barrelsA08',
 'charge240',
 'cityA08',
 'cityA08U',
 'cityCD',
 'cityE',
 'cityUF',
 'co2A',
 'co2TailpipeAGpm',
 'combA08',
 'combA08U',
 'combE',
 'combinedCD',
 'combinedUF',
 'fuelCostA08',
 'ghgScoreA',
 'highwayA08',
 'highwayA08U',
 'highwayCD',
 'highwayE',
 'highwayUF',
 'range',
 'rangeCity',
 'rangeCityA',
 'rangeHwy',
 'rangeHwyA',
 'UCityA',
 'UHighwayA',
 'charge240b',
 'phevCity',
 'phevHwy',
 'phevComb']

In [30]:
df=df.drop(columns=lv_cols)

In [31]:
df.shape, dim_original

((37843, 37), (37843, 83))

### Outliers (datos atípicos)

In [32]:
stats=df.describe().T

stats['IQR']=stats['75%']-stats['25%']

stats.tail()

,count,mean,std,min,25%,50%,75%,max,IQR
pv4,37843.0,33.769125,45.914462,0.0,0.0,0.0,91.0000,192.0000,91.0000
UCity,37843.0,22.587229,9.350163,0.0,18.0,21.0,25.1393,197.5771,7.1393
UHighway,37843.0,33.619221,10.048326,0.0,27.1,33.0,38.1096,159.1000,11.0096
year,37843.0,2000.064398,10.390588,1984.0,1990.0,2001.0,2009.0000,2017.0000,19.0000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.0,-4250.0,-2500.0,-750.0000,4000.0000,3500.0000

In [33]:
outliers=pd.DataFrame(columns=df.columns)

outliers

Empty DataFrame
Columns: [barrels08, city08, city08U, co2, co2TailpipeGpm, comb08, comb08U, cylinders, displ, drive, engId, feScore, fuelCost08, fuelType, fuelType1, ghgScore, highway08, highway08U, hlv, hpv, id, lv2, lv4, make, model, mpgData, phevBlended, pv2, pv4, trany, UCity, UHighway, VClass, year, youSaveSpend, createdOn, modifiedOn]
Index: []

In [34]:
for e in stats.index:
    
    iqr=stats.at[e, 'IQR']
    
    cutoff=1.5 * iqr
    
    lower=stats.at[e, '25%']-cutoff
    upper=stats.at[e, '75%']+cutoff
    
    res=df[(df[e]<lower) | (df[e]>upper)].copy()
    
    res['outliers']=e
    outliers=outliers.append(res, sort=True)  # append de pandas no de listas
    
outliers['outliers'].value_counts()

city08U           7299
comb08U           7299
highway08U        7299
engId             6677
lv2               6250
pv2               6239
co2               5854
ghgScore          5815
feScore           5815
hlv               4615
hpv               4614
city08            1470
UCity             1440
lv4               1357
highway08          996
comb08             969
UHighway           893
cylinders          853
co2TailpipeGpm     830
fuelCost08         604
youSaveSpend       604
barrels08          432
displ               43
Name: outliers, dtype: int64

In [35]:
outliers.head()

,UCity,UHighway,VClass,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,createdOn,cylinders,displ,drive,engId,feScore,fuelCost08,fuelType,fuelType1,ghgScore,highway08,highway08U,hlv,hpv,id,lv2,lv4,make,model,modifiedOn,mpgData,outliers,phevBlended,pv2,pv4,trany,year,youSaveSpend
47,11.0,15.0,Vans,32.961,9,0.0,-1,888.7,10,0.0,Tue Jan 01 00:00:00 EST 2013,8.0,5.9,Rear-Wheel Drive,2890,-1,3350,Regular,Regular Gasoline,-1,11,0.0,0,0,1004,0,0,Dodge,B150/B250 Wagon 2WD,Tue Jan 01 00:00:00 EST 2013,N,barrels08,False,0,0,Automatic 3-spd,1985,-10000
58,12.0,15.0,Vans,32.961,10,0.0,-1,888.7,10,0.0,Tue Jan 01 00:00:00 EST 2013,8.0,5.2,Rear-Wheel Drive,2854,-1,3350,Regular,Regular Gasoline,-1,11,0.0,0,0,1005,0,0,Dodge,B350 Wagon 2WD,Tue Jan 01 00:00:00 EST 2013,N,barrels08,False,0,0,Automatic 3-spd,1985,-10000
69,12.0,15.0,Vans,32.961,10,0.0,-1,888.7,10,0.0,Tue Jan 01 00:00:00 EST 2013,8.0,5.2,Rear-Wheel Drive,2850,-1,3350,Regular,Regular Gasoline,-1,11,0.0,0,0,1006,0,0,Dodge,B350 Wagon 2WD,Tue Jan 01 00:00:00 EST 2013,N,barrels08,False,0,0,Automatic 3-spd,1985,-10000
80,11.0,14.0,Vans,32.961,9,0.0,-1,888.7,10,0.0,Tue Jan 01 00:00:00 EST 2013,8.0,5.9,Rear-Wheel Drive,2890,-1,3350,Regular,Regular Gasoline,-1,10,0.0,0,0,1007,0,0,Dodge,B350 Wagon 2WD,Tue Jan 01 00:00:00 EST 2013,N,barrels08,False,0,0,Automatic 3-spd,1985,-10000
275,11.0,16.0,Standard Pickup Trucks,32.961,9,0.0,-1,888.7,10,0.0,Tue Jan 01 00:00:00 EST 2013,8.0,7.4,Rear-Wheel Drive,4880,-1,3350,Regular,Regular Gasoline,-1,12,0.0,0,0,10245,0,0,Chevrolet,C1500 Pickup 2WD,Tue Jan 01 00:00:00 EST 2013,N,barrels08,False,0,0,Automatic 4-spd,1993,-10000

In [36]:
clean_index=[i for i in df.index if i not in outliers.index]

In [37]:
df=df.iloc[clean_index]

In [38]:
df.head()

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,engId,feScore,fuelCost08,fuelType,fuelType1,ghgScore,highway08,highway08U,hlv,hpv,id,lv2,lv4,make,model,mpgData,phevBlended,pv2,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn
0,15.695714,19,0.0,-1,423.190476,21,0.0,4.0,2.0,Rear-Wheel Drive,9011,-1,1600,Regular,Regular Gasoline,-1,25,0.0,0,0,1,0,0,Alfa Romeo,Spider Veloce 2000,Y,False,0,0,Manual 5-spd,23.3333,35.0,Two Seaters,1985,-1250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
14,25.354615,12,0.0,-1,683.615385,13,0.0,8.0,5.2,Rear-Wheel Drive,2850,-1,2550,Regular,Regular Gasoline,-1,15,0.0,0,0,1001,0,0,Dodge,B150/B250 Wagon 2WD,N,False,0,0,Automatic 3-spd,14.4444,21.0,Vans,1985,-6000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
25,25.354615,11,0.0,-1,683.615385,13,0.0,8.0,5.2,Rear-Wheel Drive,2850,-1,2550,Regular,Regular Gasoline,-1,17,0.0,0,0,1002,0,0,Dodge,B150/B250 Wagon 2WD,N,False,0,0,Manual 4-spd,14.0000,23.0,Vans,1985,-6000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
33,18.311667,15,0.0,-1,493.722222,18,0.0,8.0,4.6,Front-Wheel Drive,4620,-1,2250,Premium,Premium Gasoline,-1,23,0.0,0,0,10027,0,14,Cadillac,Seville,Y,False,0,106,Automatic 4-spd,18.0000,32.0,Midsize Cars,1993,-4500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
34,19.388824,15,0.0,-1,522.764706,17,0.0,8.0,4.9,Front-Wheel Drive,4640,-1,2400,Premium,Premium Gasoline,-1,23,0.0,0,0,10028,0,14,Cadillac,Seville,N,False,0,106,Automatic 4-spd,18.0000,32.0,Midsize Cars,1993,-5250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013

In [39]:
df.shape

(16435, 37)

### Colinealidad  

Columnas con la misma información.

In [40]:
df.corr().head()     # matriz de correlación, si salen nulos es por varianza=0

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,engId,feScore,fuelCost08,ghgScore,highway08,highway08U,hlv,hpv,id,lv2,lv4,phevBlended,pv2,pv4,UCity,UHighway,year,youSaveSpend
barrels08,1.000000,-0.936828,NaN,NaN,0.999926,-0.965697,NaN,0.754357,0.812053,0.316692,NaN,0.908665,NaN,-0.946821,NaN,NaN,NaN,-0.255259,NaN,-0.496940,NaN,NaN,-0.511106,-0.937146,-0.947404,-0.311039,-0.908665
city08,-0.936828,1.000000,NaN,NaN,-0.938460,0.978664,NaN,-0.765592,-0.777199,-0.232941,NaN,-0.897694,NaN,0.915187,NaN,NaN,NaN,0.196922,NaN,0.438088,NaN,NaN,0.442449,0.995063,0.916921,0.221777,0.897694
city08U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
co2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
co2TailpipeGpm,0.999926,-0.938460,NaN,NaN,1.000000,-0.967062,NaN,0.753150,0.809569,0.314167,NaN,0.909705,NaN,-0.947805,NaN,NaN,NaN,-0.254208,NaN,-0.496558,NaN,NaN,-0.510716,-0.938735,-0.948353,-0.309060,-0.909705

In [41]:
# columnas constantes

cte_cols=[]

for c in df.select_dtypes(include=np.number):  # para cada columna en las columnas numéricas
    if df[c].std()==0:
        cte_cols.append(c)
        
cte_cols

['city08U',
 'co2',
 'comb08U',
 'feScore',
 'ghgScore',
 'highway08U',
 'hlv',
 'hpv',
 'lv2',
 'pv2']

In [42]:
df=df.drop(cte_cols, axis=1)  # elimina las columnas ctes

In [43]:
df.corr().head()

,barrels08,city08,co2TailpipeGpm,comb08,cylinders,displ,engId,fuelCost08,highway08,id,lv4,phevBlended,pv4,UCity,UHighway,year,youSaveSpend
barrels08,1.000000,-0.936828,0.999926,-0.965697,0.754357,0.812053,0.316692,0.908665,-0.946821,-0.255259,-0.496940,NaN,-0.511106,-0.937146,-0.947404,-0.311039,-0.908665
city08,-0.936828,1.000000,-0.938460,0.978664,-0.765592,-0.777199,-0.232941,-0.897694,0.915187,0.196922,0.438088,NaN,0.442449,0.995063,0.916921,0.221777,0.897694
co2TailpipeGpm,0.999926,-0.938460,1.000000,-0.967062,0.753150,0.809569,0.314167,0.909705,-0.947805,-0.254208,-0.496558,NaN,-0.510716,-0.938735,-0.948353,-0.309060,-0.909705
comb08,-0.965697,0.978664,-0.967062,1.000000,-0.739009,-0.773941,-0.267378,-0.900787,0.967196,0.228514,0.505461,NaN,0.515042,0.982587,0.968881,0.268560,0.900787
cylinders,0.754357,-0.765592,0.753150,-0.739009,1.000000,0.896260,0.178927,0.741767,-0.663657,-0.086335,-0.222524,NaN,-0.213412,-0.765969,-0.664845,-0.091934,-0.741767

In [44]:
df=df.drop('phevBlended', axis=1)

df.corr().head()

,barrels08,city08,co2TailpipeGpm,comb08,cylinders,displ,engId,fuelCost08,highway08,id,lv4,pv4,UCity,UHighway,year,youSaveSpend
barrels08,1.000000,-0.936828,0.999926,-0.965697,0.754357,0.812053,0.316692,0.908665,-0.946821,-0.255259,-0.496940,-0.511106,-0.937146,-0.947404,-0.311039,-0.908665
city08,-0.936828,1.000000,-0.938460,0.978664,-0.765592,-0.777199,-0.232941,-0.897694,0.915187,0.196922,0.438088,0.442449,0.995063,0.916921,0.221777,0.897694
co2TailpipeGpm,0.999926,-0.938460,1.000000,-0.967062,0.753150,0.809569,0.314167,0.909705,-0.947805,-0.254208,-0.496558,-0.510716,-0.938735,-0.948353,-0.309060,-0.909705
comb08,-0.965697,0.978664,-0.967062,1.000000,-0.739009,-0.773941,-0.267378,-0.900787,0.967196,0.228514,0.505461,0.515042,0.982587,0.968881,0.268560,0.900787
cylinders,0.754357,-0.765592,0.753150,-0.739009,1.000000,0.896260,0.178927,0.741767,-0.663657,-0.086335,-0.222524,-0.213412,-0.765969,-0.664845,-0.091934,-0.741767

In [45]:
# criterio de colinealidad

colineales=[]                   # con esto observo las columnas colineales, columnas a eliminar

for c in df._get_numeric_data():
    
    for i in range(len(df.corr())):
        
        if abs(df.corr()[c][i])>0.9 and abs(df.corr()[c][i])<1:
            
            colineales.append(c)

colineales=list(set(colineales))   

len(colineales)

11

In [46]:
df=df.drop(colineales, axis=1)  # elimina las columnas colineales

In [47]:
df.shape

(16435, 15)

### Limpieza columna `trany`

In [48]:
df.trany.value_counts()

Automatic 4-spd                     6649
Manual 5-spd                        3236
Automatic 5-spd                     1468
Automatic 3-spd                      960
Manual 4-spd                         888
Manual 6-spd                         793
Automatic (S6)                       753
Automatic 6-spd                      522
Automatic (S5)                       492
Automatic (variable gear ratios)     202
Automatic 7-spd                      137
Automatic (S4)                       127
Manual 3-spd                          76
Automatic (S7)                        50
Automatic (S8)                        44
Auto(AV-S6)                           11
Automatic (AV-S6)                      6
Auto(AM6)                              6
Auto(L4)                               2
Automatic 8-spd                        2
Automatic (A6)                         2
Auto(AM7)                              2
Auto(L3)                               2
Automatic (AM6)                        1
Automatic (AV)                         1
Auto (AV-S6)                           1
Auto (AV-S8)                           1
unknown                                1
Name: trany, dtype: int64

In [49]:
df.trany=df.trany.str.replace('-', '')  # limpieza de strings en una serie
df.trany=df.trany.str.replace('Automatic', 'Auto')
df.trany=df.trany.str.replace('Auto\(', 'Auto')
df.trany=df.trany.str.replace('Manual\(', 'Manual')
df.trany=df.trany.str.replace('\(', '')

In [50]:
df.trany.value_counts()

Auto 4spd                     6649
Manual 5spd                   3236
Auto 5spd                     1468
Auto 3spd                      960
Manual 4spd                    888
Manual 6spd                    793
Auto S6)                       753
Auto 6spd                      522
Auto S5)                       492
Auto variable gear ratios)     202
Auto 7spd                      137
Auto S4)                       127
Manual 3spd                     76
Auto S7)                        50
Auto S8)                        44
AutoAVS6)                       11
Auto AVS6)                       7
AutoAM6)                         6
AutoL4)                          2
Auto A6)                         2
AutoL3)                          2
AutoAM7)                         2
Auto 8spd                        2
Auto AVS8)                       1
Auto AM6)                        1
Auto AV)                         1
unknown                          1
Name: trany, dtype: int64

In [51]:
df.trany[df.trany.str.startswith('Au')]='AUTO'
df.trany[df.trany.str.startswith('Ma')]='MANUAL'

In [52]:
df.trany.value_counts()

AUTO       11441
MANUAL      4993
unknown        1
Name: trany, dtype: int64

In [53]:
df=df.drop(df[df.trany=='Unknown'].index, axis=0)  # elimina la fila desconocida

df.trany.value_counts()

AUTO       11441
MANUAL      4993
unknown        1
Name: trany, dtype: int64

## DataFrame Final

In [54]:
df.head()

,cylinders,displ,drive,engId,fuelType,fuelType1,id,make,model,mpgData,trany,VClass,year,createdOn,modifiedOn
0,4.0,2.0,Rear-Wheel Drive,9011,Regular,Regular Gasoline,1,Alfa Romeo,Spider Veloce 2000,Y,MANUAL,Two Seaters,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
14,8.0,5.2,Rear-Wheel Drive,2850,Regular,Regular Gasoline,1001,Dodge,B150/B250 Wagon 2WD,N,AUTO,Vans,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
25,8.0,5.2,Rear-Wheel Drive,2850,Regular,Regular Gasoline,1002,Dodge,B150/B250 Wagon 2WD,N,MANUAL,Vans,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
33,8.0,4.6,Front-Wheel Drive,4620,Premium,Premium Gasoline,10027,Cadillac,Seville,Y,AUTO,Midsize Cars,1993,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
34,8.0,4.9,Front-Wheel Drive,4640,Premium,Premium Gasoline,10028,Cadillac,Seville,N,AUTO,Midsize Cars,1993,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013

In [55]:
dim_original

(37843, 83)

In [56]:
df.shape

(16435, 15)

**Cuidado de no eliminarlo todo....**